<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- build:css assets/css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.temp) assets/css/main.css -->
    <link href="assets/css/main.css" rel="stylesheet">
    <!-- endbuild -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {{> navbar-fixed-top }}

    <div class="container theme-showcase" role="main">

      {{> body }}

    </div>

    <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!--&lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;-->
    <!--<script src="{{assets}}/js/bootstrap.min.js"></script>-->

    <!-- build:js assets/js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <script src="../../bower_components/flat-ui-sass/vendor/assets/javascripts/flat-ui/flatui-checkbox.js"></script>
    <script src="../../bower_components/flat-ui-sass/vendor/assets/javascripts/flat-ui/flatui-radio.js"></script>

    <!-- endbuild -->

    <!-- build:js assets/js/main.js -->
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/theme.js"></script>
    <!-- endbuild -->
  </body>
</html>
